<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mulheres Palestrantes</title>
        <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />

        <meta name="description" content="Lista de mulheres que palestram sobre programação, design, empreendedorismo e tecnologia.">
        <meta name="keywords" content="mulheres palestrantes, programação, design, empreendedorismo, tecnologia, insideout project brasil, inside out, insideout">

        <!-- Open Graph Data -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="Mulheres Palestrantes | InsideOut Project Brasil">
        <meta property="og:description" content="Lista de mulheres que palestram sobre programação, design, empreendedorismo e tecnologia.">
        <meta property="og:url" content="http://insideoutproject.xyz/mulheres-palestrantes">
        <meta property="og:image" content="http://insideoutproject.xyz/images/insideout-600x600.png">

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Mulheres Palestrantes | InsideOut Project Brasil">
        <meta name="twitter:description" content="Lista de mulheres que palestram sobre programação, design, empreendedorismo e tecnologia.">
        <meta name="twitter:url" content="http://insideoutproject.xyz/mulheres-palestrantes">
        <meta name="twitter:image" content="http://insideoutproject.xyz/images/insideout-600x600.png">

        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Codystar" rel="stylesheet">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        <a href="#main" accesskey="1" class="sr-only">Ir para conteúdo principal (Alt + 1)</a>

        <a href="https://github.com/insideoutprojectbr/mulheres-palestrantes">
            <img class="fork-me" src="img/fork-me.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png">
        </a>

        <header itemscope itemtype="http://schema.org/WPHeader">
            <h1 class="logo-css"><u>Mulheres</u> <i>Palestrantes</i></h1>
            <p><a class="contribute" target="_blank" href="https://github.com/insideoutprojectbr/mulheres-palestrantes#como-contribuir-com-o-projeto"><i>Quero meu nome aqui!</i> :) <br>Como posso fazer isso?</a></p>
        </header>